html {
  background-color: #003B46;
  color: #C4DFE6;
}

#player {
  text-align: center;
}

#blist {
  display: block;
  margin-top: 20px;
  height: 100px;
}

.button {
  color: #003B46;
  background-color: #66A5AD;
  border-radius: ;
  display: inline-block;
  margin-right: 10px;
  width: 150px;
  height: 80px;
  line-height: 80px;
  trasition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

.button:last-child {
  margin-right: 0;
}

.button:hover {
  width: 160px;
  height: 90px;
  line-height: 90px;
}